:root {
  --background: #18181a;
  --font-color: #dae2e9;

  --background-image: url('images/Stars.png');

  --navbar-color: #072347;
  --navbar-hover: #21416b;
  --navbar-height: 60px;
}

body {
  font-family: 'Gaegu', sans-serif;
  font-size: x-large;

  color: var(--font-color);
  background-color: var(--background);

  background-image: var(--background-image);
  background-repeat: repeat;

  text-align: center;
}

#navbar {
  text-decoration: none;
  list-style-type: none;

  height: var(--navbar-height);

  margin: 0;
  padding: 0;
  border-radius: 5px;

  display: flex;

  overflow: hidden;
  background-color: var(--navbar-color);
}

#navbar li {
  margin-left: auto;
  margin-right: auto;
}

#navbar a {
  line-height: var(--navbar-height);
  font-size: xx-large;
  color: var(--font-color);
  text-decoration: none;
}

#distanceTracker {
  height: 60px;
  width: 478px;

  font-size: xx-large;
  font-family: 'Gaegu', sans-serif;
  color: var(--font-color);

  border: solid 2px var(--background);
  border-radius: 5px;

  background-color: var(--navbar-color);

  position: sticky;
  bottom: 10%;
}

#distanceTracker:hover {
  border: solid 2px var(--navbar-hover);
}